$primaryColor: hsl(25, 97%, 53%);
$neutralColor1: hsl(0, 0%, 100%);
$neutralColor2: hsl(217, 12%, 63%);
$neutralColor3: hsl(216, 12%, 54%);
$neutralColor4: hsl(213, 19%, 18%);
$neutralColor5: hsl(216, 12%, 8%);
